{% extends "core/base.html" %}
{% load static %}
{% block Meta %}
    {% for s in seo %}
        <title>{{ s.title }}</title>
        <meta name="Keywords" content="{{ s.keywords }}"/>
        <meta name="Description" content="{{s.description}}"/>
    {% endfor %}
{% endblock %}
{% block PreloadPrefetch %}
    {% if debug_flag %}
        <link rel="preload" href="{% static 'core/svelte/articles-bundle-dev.js' %}" as="script">
    {% else %}
        <link rel="preload" href="{% static 'core/svelte/articles-bundle-prod.js' %}" as="script">
    {% endif %}
{% endblock %}
{% block Content %}

    <!-- MATERIALS-BLOCK -->

    <div class="section-container articles-block">
        <div class="section-title-container">
            <div class="section-title">
                <h1>СТАТЬИ</h1>
            </div>
        </div>
        <div id="articles-container">

        </div>
    </div>
{% endblock %}
{% block JS %}
    {% if debug_flag %}
        <script src="{% static 'core/svelte/articles-bundle-dev.js' %}"></script>
    {% else %}
        <script src="{% static 'core/svelte/articles-bundle-prod.js' %}"></script>
    {% endif %}
{% endblock %}
