{% extends "core/base.html" %}
{% load static %}
{% block Meta %}
    <title>{{ material.seotitle }}</title>
    <meta name="Keywords" content="{{ material.seokeywords }}"/>
    <meta name="Description" content="{{material.seodescript}}"/>
{% endblock %}
{% block OpenGraph %}
    <meta property="og:title" content="{{ material.seotitle }}"/>
	<meta property="og:description" content="{{ material.seodescript }}"/>
    {% if s.op_graph_photo %}
	<meta property="og:image" content="https://www.vekomet.ru{{ material.cover.url }}"/>
    {% else %}
    {% endif %}
	<meta property="og:type" content="website"/>
    {% if material.category_id == 1 %}
        <meta property="og:url" content= "https://www.vekomet.ru/articles/{{ material.slug }}/" />
    {% else %}
        <meta property="og:url" content= "https://www.vekomet.ru/news/{{ material.slug }}/" />
    {% endif %}
{% endblock %}
{% block LinkAmp %}
    {% if material.category_id == 1 %}
        <link rel="amphtml" href="https://vekomet.ru/amp/articles/{{ material.slug }}/">
    {% else %}
        <link rel="amphtml" href="https://vekomet.ru/amp/news/{{ material.slug }}/">
    {% endif %}
{% endblock %}
{% block Content %}

<!-- MATERIALS-ITEM-PAGE -->

<div class="section-container materials-item">
        <div class="section-title-container">
            <div class="section-title">
                {% if material.category_id == 2 %}
                <h1>НОВОСТИ</h1>
                {% else %}
                <h1>СТАТЬИ</h1>
                {% endif %}
            </div>
        </div>
        <div class="material-item-container">
            <div class="materials-item-header">
                <div class="mat-item-image-wr" style="background-image: url({{ material.cover.url }}); background-size: cover;"></div>
                <div class="mat-item-title-wr">{{ material.title }}</div>
            </div>
            <div class="mat-item-body-wr">
                {{ material.body|safe }}
            </div>
        </div>
</div>
{% endblock %}
