{% extends "core/base.html" %}
{% load static %}
{% block OpenGraph %}
    {% for s in seo %}
    <meta property="og:title" content="{{ s.title }}"/>
	<meta property="og:description" content="{{ s.description }}"/>
    {% if s.op_graph_photo %}
	<meta property="og:image" content="https://www.vekomet.ru{{ s.op_graph_photo.url }}"/>
    {% else %}
    {% endif %}
    {% endfor %}
	<meta property="og:type" content="website"/>
	<meta property="og:url" content= "https://www.vekomet.ru/articles/" />
{% endblock %}
{% block LinkAmp %}
    <link rel="amphtml" href="https://vekomet.ru/amp/news/">
{% endblock %}
{% block PreloadPrefetch %}
        <link rel="preload" href="{% static 'core/svelte/news-bundle-dev.js' %}" as="script">
{% endblock %}
{% block Content %}

    <!-- MATERIALS-BLOCK -->

    <div class="section-container news-block">
        <div class="section-title-container">
            <div class="section-title">
                <h1>НОВОСТИ</h1>
            </div>
        </div>
        <div id="news-container">

        </div>
    </div>
{% endblock %}
{% block JS %}
    <script src="{% static 'core/svelte/news-bundle-dev.js' %}"></script>
{% endblock %}