{% extends "core/base-with-form.html" %}
{% load static %}
{% block Meta %}
    {% if position.seotitle|length > 2 %}
        <title>{{ position.seotitle }}</title>
    {% else %}
        <title>Принимаем {{ position.title }} по цене {{ position.price }}</title>
    {% endif %}
    <meta name="Keywords" content="{{ position.seokeywords }}"/>
    <meta name="Description" content="{{position.seodescript}}"/>
    {% if position.canonicdes %}
        <link rel="canonical" href="https://www.vekomet.ru/metall/{{ position.slug }}/" />
    {% else %}

    {% endif %}
    {% if position.indexdes %}
        <meta name="robots" content="noindex"/>
    {% else %}
    {% endif %}
    {% if position.description_amp %}
        <link rel="amphtml" href="http://vekomet.ru/metall-amp/{{ position.slug }}/">
    {% else %}
    {% endif %}
{% endblock %}
{% block PreloadPrefetch %}
    <link rel="preload" href="{% static 'pricelist/vendor/lightgallery/lightgallery.min.css' %}" as="style">
    <link rel="preload" href="{% static 'pricelist/vendor/lightgallery/lightgallery.min.js' %}" as="script">
{% endblock %}
{% block CSS %}
    <link rel="stylesheet" href="{% static 'pricelist/vendor/lightgallery/lightgallery.min.css' %}" />
{% endblock %}
{% block Content %}
    <!-- POSITION PAGE -->
    <div class="section-container position-page">
        <div class="position-price-menu">
            <div class="position-pr-menu-item first-item"><a href="/pricelist/#common-table">ОБЩИЕ МЕТАЛЛЫ И СПЛАВЫ</a></div>
            <div class="position-pr-menu-item"><a href="/pricelist/#rare-table">РЕДКОЗЕМЕЛЬНЫЕ МЕТАЛЛЫ</a></div>
            <div class="position-pr-menu-item last-item"><a href="/pricelist/#tantal">ТАНТАЛ</a></div>
        </div>
       <div class="section-title-container">
        {% if position.titlealt %}
            <div class="section-title">
                <h1>{{ position.titlealt }}</h1>
            </div>
        {% else %}
            <div class="section-title">
                <h1>{{ position.title }}&nbsp;|&nbsp;{{ position.price }}</h1>
            </div>
        {% endif %}
       </div>
       {% if position.tablepricegroup %}
           <div class="price-wr">
               <h1>Цены по смежным позициям:</h1>
           </div>
           <div class="metall_dt_tablewrapper">
               <table class="pricelist-table">
                    <tr class="greyrow">
                        <th class="pricelist-table-item table-position-width">Позиция</th>
                        <th class="pricelist-table-item table-nal-width">Наличный расчет (физ.лица)</th>
                        <th class="pricelist-table-item table-beznal-width">Безналичный расчет (юр.лица)</th>
                    </tr>
                   {% for item in positions %}
                       {% if item.tablepricegroup == position.tablepricegroup %}
                           {% if item.visible %}
                               <tr class="det-table">
                                   <td class="pricelist-table-item"><a href="/metall/{{ item.slug }}/">{{ item.title }}</a></td>
                                   <td class="pricelist-table-item"><a href="/metall/{{ item.slug }}/">{{ item.price }}</a></td>
                                   <td class="pricelist-table-item"><a href="/metall/{{ item.slug }}/">{{ item.price_bn }}</a></td>
                               </tr>
                           {% endif %}
                       {% endif %}
                   {% endfor %}
               </table>
           </div>
       {% else %}
       {% endif %}
       <div class="position-gallery-icon-wr">
           <img alt="{{ position.titlealt }}| СМОТРЕТЬ ФОТО" height="40px" src="{% static 'core/imgs/common/images.svg' %}"/>
       </div>
       {% if first_foto %}
           <div class="position-slider" id="position-slider">
               <a data-fancybox="{{ position }}" class="pos-gallery-first-item" href="{{ first_foto.foto.url }}"><img src="{{ first_foto.galleryfoto.url }}"/></a>
               <a data-fancybox="{{ position }}" class="pos-gallery-second-item" href="{{ second_foto.foto.url }}"><img src="{{ second_foto.galleryfoto.url }}"/></a>
               <a data-fancybox="{{ position }}" class="pos-gallery-third-item" href="{{ third_foto.foto.url }}"><img src="{{ third_foto.galleryfoto.url }}"/></a>
               {% if fotos.lenght > 0 %}
               <div class="pos-foto-hidden">
                   {% for foto in fotos %}
                       <a data-fancybox="{{ position }}" href="{{ foto.foto.url }}"><img src="{{ foto.galleryfoto.url }}"/></a>
                   {% endfor %}
               </div>
               {% else %}
               {% endif %}
           </div>
       {% else %}
       {% endif %}
       <div class="title-to-price-wr">
           <a href="/pricelist/"><h1><img class="position-title-icon" alt="ПЕРЕЙТИ К ПОЛНОМУ ПРАЙС-ЛИСТУ" height="25px" src="{% static 'core/imgs/common/circle-right.svg' %}"/>ПЕРЕЙТИ К ПОЛНОМУ ПРАЙС-ЛИСТУ</h1></a>
       </div>
        {% if position.description1 %}
            <div class="position-description">
                {{ position.description1|safe }}
            </div>
        {% else %}
            <div class="position-description">
                <p>Мы еще не добавили информацию. Но скоро обязательно добавим!</p>
            </div>
        {% endif %}
        <div class="title-to-analysis">
           <a href="/pricelist/"><h1><img class="position-title-icon" alt="УЗНАЙТЕ КАК ПРОВОДЯТ АНАЛИЗ ЛОМА" height="25px" src="{% static 'core/imgs/common/info.svg' %}"/>УЗНАЙТЕ КАК ПРОВОДЯТ АНАЛИЗ ЛОМА</h1></a>
       </div>
    <div class="position-contacts-container">
       <div class="contacts-form-wr">
           <div class="pos-form-title">
               <h2>Оставьте сообщение для нас</h2>
           </div>
           <div id="form-container">
               {% csrf_token %}
           </div>
       </div>
        <div class="position-contacts-text-wr">
            <h2>Контакты для связи:</h2>
            <div class="pos-det-info-block">
            <h2><a href="tel:+79175995222"><img class="position-title-icon" alt="Телефон для связи" height="17px" src="{% static 'core/imgs/common/phone.svg' %}"/>8(917)599-52-22</a></h2>
            <h2><a href="tel:+74994998474"><img class="position-title-icon" alt="Телефон для связи" height="17px" src="{% static 'core/imgs/common/phone.svg' %}"/>8(499)499-84-74</a></h2>
            <h2><a href="mailto:vekomet@gmail.com"><img class="position-title-icon" alt="Адрес почты" height="20px" src="{% static 'core/imgs/common/envelop.svg' %}"/>vekomet@gmail.com</a></h2>
        </div>
    </div>
    </div>
    <div class="pos-det-vk">
        <h2><a href="https://vk.com/vekomet" style="color: #544e4e">Наша группа в VK<img style="margin-left: 15px; margin-right: 15px;" alt="Наша группа в VK" height="30px" src="{% static 'core/imgs/common/vk.svg' %}"/>vk.com/vekomet</a></h2>
    </div>
    <div class="pos-det-play">
        <h2 ><a href="https://play.google.com/store/apps/details?id=com.vekornapp" style="color: #544e4e">Скачать приложение для андроид<img style="margin-left: 15px;" alt="Скачать приложение для андроид" height="30px" src="{% static 'core/imgs/common/android.svg' %}"/></a></h2>
    </div>
    </div>

{% endblock %}
{% block JS %}
    <script src="{% static 'pricelist/vendor/lightgallery/lightgallery.min.js' %}"></script>
    <script>
        lightGallery(document.getElementById('position-slider'));
    </script>
{% endblock %}