{% load static %}
<link rel="stylesheet" href="{% static 'orders/css/../../../contacts/static/contacts/css/main-form.css' %}" />
<form class="contact2-form validate-form">
    <span class="contact2-form-title">
        ОСТАВЬТЕ СООБЩЕНИЕ ДЛЯ НАС
    </span>
    <div class="contacts-form-group">
        <div class="form-name-wr wrap-input2 validate-input">
            <input class="input2" type="text" name="name">
            <span class="focus-input2" data-placeholder="КАК ВАС ЗОВУТ"></span>
        </div>
        <div class="form-mail-wr wrap-input2 validate-input">
            <input class="input2" type="text" name="email">
            <span class="focus-input2" data-placeholder="MAIL | ТЕЛЕФОН "></span>
        </div>
    </div>
    <div class="wrap-input2 validate-input">
        <textarea class="input2" name="message"></textarea>
        <span class="focus-input2" data-placeholder="СООБЩЕНИЕ"></span>
    </div>
    <div class="container-contact2-form-btn">
        <button class="contact2-form-btn">
                ОТПРАВИТЬ СООБЩЕНИНЕ
        </button>
    </div>
</form>
