<!DOCTYPE html>
{% if en_lang_flag %}
    <html lang="en">
{% else %}
    <html lang="ru">
{% endif %}
<head>
    {% load static %}
    {% if en_lang_flag %}
        <meta http-equiv="content-language" content="en"/>
    {% else %}
        <meta http-equiv="content-language" content="ru"/>
    {% endif %}
    <meta charset="utf-8" />
    {% block LangLink %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'core/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/favicon/favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static 'core/favicon/safari-pinned-tab.svg' %}">
    <link rel="preconnect" href="https://www.google-analytics.com">
    {% block Meta %}
        {% for s in seo %}
            <title>{{ s.title }}</title>
            <meta name="Keywords" content="{{ s.keywords }}"/>
            <meta name="Description" content="{{s.description}}"/>
        {% endfor %}
    {% endblock %}
    {% block OpenGraph %}
    {% endblock %}
    {% block LinkAmp %}
    {% endblock %}
    {% block PreloadPrefetch %}
    {% endblock %}
    {% if debug_flag %}
        <link rel="stylesheet" href="{% static 'core/css/dev/base.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'core/css/dev/576.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'core/css/dev/768.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'core/css/dev/992.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'core/css/dev/custom.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'contacts/css/dev/main-form.css' %}" type="text/css">
    {% else %}
        <link rel="preload" href="{% static 'core/js/prod/core.js' %}" as="script">
        <link rel="preload" href="{% static 'core/css/prod/prod.css' %}" as="style">
        <link rel="preload" href="{% static 'contacts/css/prod/main-form.css' %}" as="style">
        <link rel="preload" href="{% static 'contacts/js/svelte/contacts-form-prod.js' %}" as="script">
        <link rel="prefetch" href="{% static 'core/svelte/articles-bundle-prod.js' %}" as="script">
        <link rel="prefetch" href="{% static 'core/svelte/calculator-bundle.js' %}" as="script">
        <link rel="prefetch" href="{% static 'core/svelte/news-bundle-prod.js' %}" as="script">
        <link rel="stylesheet" href="{% static 'core/css/prod/prod.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'contacts/css/prod/main-form.css' %}" type="text/css">
    {% endif %}
    {% block CSS %}
    {% endblock %}
</head>
<body>
<div class="main-container" id="page-top">
{% include 'core/navbar.html' %}
</div>
<div id="sliding-container" class="sliding-container">
{% block Content %}
{% endblock %}
{% include 'core/footer.html' %}
</div>
<div class="toTop-button-wr" id="toTopButton">
    <a data-scroll href="#page-top"><img class="toTop-button" height="150px" alt="Вернуться наверх сайта" src="{% static 'core/imgs/toTop/toTop-icon-250.png' %}"/></a>
</div>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
    async defer>
</script>
{% if debug_flag %}
    <script src="{% static 'core/vendor/smooth-scroll/smooth-scroll.polyfills.min.js' %}"></script>
    <script src="{% static 'core/js/dev/navbar-dev.js' %}"></script>
    <script src="{% static 'contacts/js/svelte/contacts-form-dev.js' %}"></script>
{% else %}
    <script src="{% static 'core/js/prod/core.js' %}"></script>
    <script src="{% static 'contacts/js/svelte/contacts-form-prod.js' %}"></script>
{% endif %}
    <script>
        var scroll = new SmoothScroll('a[href*="#"]');
    </script>
{% block JS %}
{% endblock %}
</body>
</html>