{% load static %}
<footer>
    <div class="section-container footer">
        <div class="footer-content-container">
            <div class="footer-contacts-wr">
                <div class="footer-contacts-title">
                    КОНТАКТЫ
                </div>
                <div class="footer-contacts-text">
                    город Электросталь<br>
                    ул.Пионерска дом 22<br>
                    <a href="tel:+74994998474">+7(499)499-84-74</a><br>
                    <a href="tel:+79175995222">+7(917)599-52-22</a><br>
                    <a href="mailto:vekomet@gmail.com">vekomet@gmail.com</a><br>
                </div>
            </div>
            <div class="footer-shedule-wr">
                <div class="footer-shedule-title">
                    ГРАФИК РАБОТЫ
                </div>
                <div class="footer-shedule-text">
                    пн-пт: 8.00 - 8.30<br>
                    cб: 9.00 - 13.00<br>
                    вс: выходной<br>
                </div>
            </div>
            <div class="footer-info-wr">
                <div class="footer-info-title">
                    ИНФОРМАЦИЯ
                </div>
                <div class="footer-info-text">
                    <div class="footer-info-item"><a href="#">Главная</a></div>
                    <div class="footer-info-item"><a href="#">Прайс-лист</a></div>
                    <div class="footer-info-item"><a href="#">Анализ</a></div>
                    <div class="footer-info-item"><a href="#">Справочник</a></div>
                    <div class="footer-info-item"><a href="#">Статьи</a></div>
                    <div class="footer-info-item"><a href="#">Новости</a></div>
                    <div class="footer-info-item"><a href="#">Контакты</a></div>
                    <div class="footer-info-item"><a href="#">Калькулятор</a></div>
                </div>
            </div>
            <div class="footer-logo-wr">
                <div class="footer-logo-button">
                    <div class="footer-button" id="footer-button">
                        ОСТАВИТЬ СООБЩЕНИЕ
                    </div>
                </div>
                <div class="footer-logo-img">
                    <img alt="ООО ВеКо" src="{% static 'core/imgs/footer/veko-logo-150.png' %}"/>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            2020  ВЕКО@ВСЕ ПРАВА ЗАЩИЩЕНЫ
        </div>
    </div>
</footer>

