{% load static %}

<!-- NEWS SIDEBAR -->
<div class="news-sidebar-wr">
    <div class="news-sidebar-title">
        ПОСЛЕДНИЕ ЗАПИСИ
    </div>
    <div class="news-sidebar-item sidebar-first-new" style="background: url({{ first_new.cover.url }}); background-size: cover;">

    </div>
    <div class="news-sidebar-item sidebar-second-new" style="background: url({{ second_new.cover.url }}); background-size: cover;">

    </div>
    <div class="news-sidebar-item sidebar-third-new" style="background: url({{ third_new.cover.url }}); background-size: cover;">

    </div>
</div>