<h2>Privacy policy</h2>
<h3>Политика конфиденциальности</h3>
<p>1. Термин “личная информация”, используемый в настоящем документе, определяется как любая информация, которая идентифицирует или может использоваться для идентификации, связи или поиска человека, к которому такая информация относится. Личная информация, которую мы собираем, будет являться предметом настоящей политики конфиденциальности, с вносимыми время от времени поправками.</p>

<p>2. Мы запрашиваем Ваш адрес электронной почты или телефон только в случае формирования вами в приложении сообщения представителям организации для возможности обеспечения обратной связи.</p>

<p>3. Мы не продаем контент.</p>

<p>4. Мы не требуем регистрации.</p>

<p>5. Безопасность Вашей персональной информации не будет нарушена.</p>

<p>6. Мы не просим информацию о местоположении через наше мобильное приложение.</p>

<p>7. Мы не отправляем на электронную почту рассылку новостей.</p>

<h3>Требуемые разрешения</h3>

<p>1. Доступ к информации о телефоне необходим только для проверки наличия интернет соединения с целью определения варианта получения информации по позициям, представленным в приложении: из памяти телефона, либо непосредственно с сайта организации</p>


<strong>Контакты</strong>
<p>e-mail: vekomet@gmail.com</p>