@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap&subset=cyrillic');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
table {
    border-collapse: collapse;
}
label {
    color: #89898a;
    font-size: 1.1em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
.main-container {
    position: relative;
    width: 100%;
}
.section-container {
    display: flex;
    width: 90%;
    margin: auto;
}
.section-container-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:row;
}
.section-main-area {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.section-sidebar {
    display: none;
}
.section-title-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.section-title h1 {
    text-transform: uppercase;
    text-decoration: #628BA3 underline;
    color: #628BA3;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 2em;
    text-align: center;
}
.section-subtitle {
    color: #292f31;
    border-left: none;
}
.section-subtitle h2 {
    margin: 0;
    padding-top: 0;
    padding-bottom:0;
    padding-right: 0;
    padding-left: 20px;
}
.responsive {
    width: 100%;
    height: auto;
}
.text-square:before {
    content: "";
    width: 15px;
    height: 15px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
.mobile-container {
    width: 90%;
    margin: auto;
}
.responsive {
    width: 100%;
    height: auto;
}
footer {
    flex-shrink: 0;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}

/* TOP-BUTTON */
#toTopButton {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  cursor: pointer; /* Add a mouse pointer on hover */
}
.toTop-button {
  height: 40px;
}
.toTop-button:hover {
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.65));
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.65));
}

/* MOBILE-TOPBAR-COMPONENT */
.mobile-topbar-container {
    position: relative;
    z-index: 31;
    background-color: #C4C4C4;
    display: flex;
    flex-direction: row;
    height: 70px;
}
.mobile-topbar-logo-wr {
    padding-left: 20px;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}
.mobile-topbar-textlogo-wr {
    display: flex;
    padding-left: 20px;
    flex: 3;
    justify-content: flex-start;
    align-items: center;
}
.mobile-topbar-burger-wr {
    padding-right: 20px;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}
#nav-icon3 {
    width: 50px;
    height: 40px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
#nav-icon3 span {
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    background: white;
    border-radius: 7px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
    top: 0;
}
#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 14px;
}
#nav-icon3 span:nth-child(4) {
    top: 28px;
}
#nav-icon3.open span:nth-child(1) {
    top: 14px;
    width: 0;
    left: 50%;
}
#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#nav-icon3.open span:nth-child(4) {
    top: 14px;
    width: 0;
    left: 50%;
}
.mobile-menu {
    width: 100%;
    position: absolute;
    top: -380px;
    height: auto;
    background-color: #C4C4C4;
}
.mobile-menu-open {
    position: fixed;
    width: 100%;
    z-index: 30;
    top: 68px;
    animation-duration: 1s;
    animation-name: mobile-menu-visible;
}
@keyframes mobile-menu-visible {
  from {
    top: -380px;
    opacity: 0;
  }

  to {
      top: 70px;
      opacity: 1;
  }
  }
.menu-slide-down {
    transition: 2s;
}

.mobile-menu a {
    color: white;
}
.mobile-menu-item {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.mobile-menu-item:hover {
    color: #4E84AB;
}

.mobile-menu-wr:last-child {
    margin-bottom: 30px;
}

.mob-menu-item-collapse-wr {
    display: flex;
    flex-direction: row;
}
.mob-menu-plus-wr {
    cursor: pointer;
    margin-left: 25px;
    display: flex;
    align-items: center;
}
.mob-menu-plus-wr img:hover {
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.65));
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.65));
}

.mob-menu-hidden-item-wr {
    height: auto;
    padding-left: 40px;
    transition: 1s;
    display: none;
}
.mob-menu-item-visible {
    display: flex;
    flex-direction: column;
}
.menu-dot-icon {
    height: 15px;
    margin-right: 10px;
}

/* TOPBAR-COMPONENT */

.topbar-container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color: #b1bac1;
}
.topbar-address {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.topbar-logo-wr {
    flex: 1;
    display: none;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
}

.topbar-address-wr {
    flex: 3;
    display: none;
    color: white;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.topbar-socicon-wr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    flex: 1;
}
.topbar-socicon-wr>div {
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
}
.topbar-socicon-wr a {
    display: flex;
    align-items: center;
}

.topbar-socicon-wr img{
    width: 40px;
}
.soc-icon-image:hover {
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.65));
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.65));
}

#phone-icon-wide {
    display: none;
}
#phone-icon-mobile {
    display: flex;
}
#form-icon-wide {
    display: none;
}
#form-icon-mobile {
    display: flex;
}

/* TOBBAR-SLIDING-BLOCKS */
.topbar-phoneblock {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -70px;
    width: 100%;
    height: 120px;
    background-color: #b9c8d4;
    transition: top .8s, opacity 1s;
}
.phone_block_visible {
    top: 120px;
}
.topbar-phone-text {
    width: 80%;
    color: white;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
}
.phone-text-icon {
    padding-right: 15px;
}
.topbar-phone-text a {
    color: white;
}
.phone-text-wr-1,.phone-text-wr-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.phone-text-wr-1 {
    margin-bottom: 20px;
}
.phone-block-pointer {
    display: block;
    opacity: 0;
    z-index: 3;
    position: absolute;
    right: 28.2%;
    top: 110px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #b9c8d4;
    transition: opacity 1s;
}
.phone-pointer-visible {
    opacity: 1;
}
.hidden-form-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hidden-form-block {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
    height: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: -475px;
    background-color: #b9c8d4;
    transition: top .6s, opacity 1s;
}
.hidden-form-block textarea {
    font-family: Roboto, sans-serif;
}

.hidden-form-wr {
    width: 80%;
}
.form-close-icon {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.form-block-visible {
    top: 120px;
}
.form-block-pointer {
    display: block;
    opacity: 0;
    z-index: 100;
    position: absolute;
    right: 8%;
    top: 110px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #b9c8d4;
    transition: opacity 1s;
}
.form-pointer-visible {
    opacity: 1;
}
.form-group {
    margin-bottom: 20px;
}
.form-control {
    display: block;
    width: 90%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15),0 6px 20px 0 rgba(0,0,0,0.15);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#form-link textarea {
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-primary {
    color: #fff;
    background-color: #81A4B4;
    border-color: #81A4B4;
}
.btn {
    display: inline-block;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 3px 10px 0 rgba(0,0,0,0.19);
}
.btn:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.g-recaptcha {
    padding-left: 0;
}

.sliding-container {
    transition-property: margin-top;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    height: 1000px;
}

/* NAVBAR */

.navbar-container {
    z-index: 30;
    display: none;
    color: white;
    height: 70px;
    flex-direction: row;
    background-color: #678595;
}
.sticky {
    width: 100%;
    position: fixed;
    top: 0;
}
.navbar {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.navbar-item {
    display: inline-block;
    list-style: outside none none;
    overflow: hidden;
    font-size: 1.2em;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}
#navbar-first-item {
    padding-left: 0;
    margin-left: 0;
}
.navbar * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.navbar a {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0.3em 0;
    color: white;
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0;
}
.navbar a:before, .navbar a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.navbar a:before {
    bottom: 100%;
    display: block;
    height: 3px;
    width: 100%;
    content: "";
    background-color: white;
}
.navbar a:after {
    padding: 0.3em 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    content: attr(data-hover);
    color: white;
    white-space: nowrap;
}
.navbar-item:hover a,
.navbar .current a {
    transform: translateY(100%);
}
.navbar-collapse-wr {
    z-index: 20;
    width: auto;
    position: absolute;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #678595;
    transition: all 1s;
}
.main-collapse {
    display: none;
}
.material-collapse {
    display: none;
}
#navbar-collapse-wr a {
    transform: none;
}
#navbar-collapse-wr a {
    display: block;
    text-decoration: none;
}
#navbar-collapse-wr a:after {
    display: none;
}
#navbar-collapse-wr a:before {
    display: none;
}
.main-dropdown:hover .main-collapse {
    display: block;
}
.material-dropdown:hover .material-collapse {
    display: block;
}
#navbar-first-item,#material-dropdown {
    padding-right: 25px;
}
.dropdown-icon {
    position: absolute;
    height: 25px;
    padding-top: 7px;
    margin-left: 5px;
}
.navbar-collapse-item a:hover {
    color: rgba(0, 0, 0, 0.55);
}
/* MAINPAGE-SLIDER */
.mainpage-slider-wr {
    height: auto;
    width: 100%;
}
.main-page-slider img {
    width: 100%;
    height: auto;
}
.slider-leftbar {
    position: absolute;
    width: 100%;
    height: 250px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftbar-content {
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.leftbar-rightside {
    display: none;
    flex-direction: column;
    flex: 3;
}
.leftbar-rightside-image-wr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 5;

}
.leftbar-rightside-shedule-wr {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 3;
}
.contacts-slider-item {
    border-radius: 10px;
    background-color: #677D97;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.cont-slider-item-img-wr {
    display: flex;
    flex-direction: row;
    flex: 1.3;
    justify-content: center;
    align-items: center;
}
.contacts-slider-text {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    padding-right: 20px;
    line-height: 1.1;
    padding-left: 30px;
    color: white;
    font-size: 1.3em;
    flex: 3;
    border-radius: 10px;
    background-color: #677D97;
}
.contacts-slider-text a {
    text-decoration: none;
    color: white;
}
.cont-slide-text-span {
    color: #d7dee2;
}
.leftside-text-wr {
    color: white;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.leftbar-leftside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.leftside-slider-wr {
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftside-blank-div {
    display: none;
    flex: 3;
}
.slider-logo {
    height: 330px;
}
.shedule-icon {
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.65));
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.65));
    height: 110px;
}
.contacts-icon {
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.65));
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.65));
    height: 105px;
}
.mobile-mini-slider {
    margin-top: 140px;
    background-color: #677D97;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.mini-slide-wr {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: auto
}
.mini-slider-img-wr {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1.5;
}
.mini-slider-text-wr {
    padding-left: 20px;
    padding-right: 20px;
    flex: 3;
    color: white;
}

/* TOPBAR-MODAL-BLOCKS */

.modal {
  display: none;
  position: fixed;
  z-index: 20;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  border-radius: 10px;
  position: relative;
  background-color: #fefefed9;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
.phone-modal {
    width: 40%;
}
.form-modal {
    width: 45%;
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
.modal-phone-wr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
}
.modal-phone-wr a {
    color: #626d73;
    font-size: 1.8em;
    margin-bottom: 20px;
}
.modal-phone-text-wr {
    display: flex;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#ph-modal-close, #f-modal-close {
    width: 90%;
    margin: auto;
}
.modal-phone-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.modal-form-wr {
    padding-top: 30px;
    width: 70%;
    margin: auto;
    padding-bottom: 30px;
}
.modal-form-wr textarea {
    font-family: 'Roboto', sans-serif;
}

.modal-form-wr .g-recaptcha {
    padding-left: 0;
}

.modal-form-wr label {
    color: #8e969c;
    text-shadow: none;
    font-weight: 100;
}
.modal-form-wr .form-control {
    box-shadow: none;
}
.modal-form-wr .form-control::placeholder {
    font-weight: bold;
    color: rgba(58, 94, 124, 0.51);
}

.close {
    color: #aaa;
    float: right;
    font-size: 45px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.form-button-wr {
    padding-top: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* MAIN-TEXT-PART-1,2 */

.main-text-wr-pt1 {
    padding-top: 40px;
    margin-bottom: 40px;
}
.main-text-wr-pt2 {
    margin-top: 40px;
}
.main-text-wr {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main-text-left, .main-text-right {
    flex: 1;
    font-size: 1.5em;
    color: #5F5E5E;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.15);
}
.main-text-left {
    padding-right: 0;
}
.main-text-right {
    padding-left: 0;
}
.main-text-banner-wr img {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* NEWS-BLOCK */

.news-block {
    margin-top: 40px;
    flex-direction: column;
}
.news-container {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.news-item-wr {
    flex: 1;
    height: 350px;
    background-color: #80bdff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.news-divider-wr {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.2;
}
.news-item-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(84, 91, 114, 0.63);
}
.news-item-corner {
    right: 0;
    position: absolute;
}
.news-item-title {
    color: white;
    width: 90%;
    margin: auto;
    display: flex;
    flex: 5;
    align-items: flex-end;
}
.news-item-title a {
    color: white;
}
.news-item-divider {
    width: 90%;
    margin: auto;
    flex: 0.5;
    border-bottom: white 2px solid;
}
.news-item-date {
    padding-top: 15px;
    color: white;
    display: flex;
    width: 90%;
    margin: auto;
    flex: 1;
}

/* FORM-BANNER-BLOCK */
.modal-success {
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 999;
    background-color: rgba(188, 104, 104, 0.35);
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 50%;
    color: white;
    text-transform: uppercase;
    font-size: 1.4em;
}
.form-error-item {
    width: 100%;
    text-align: center;
}

.form-banner-container {
    overflow: hidden;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.form-banner-text-wr {
    background-color: #4E84AB;
    display: flex;
    margin-top: -50px;
    justify-content: center;
    transform: skew(0deg, 10deg);
    width: 100%;
}
.form-banner-text {
    text-align: center;
    padding-top: 130px;
    padding-bottom: 75px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.8em;
    margin-left: 0;
    margin-top: -50px;
    transform: skew(0deg, -10deg);
    width: 100%;
}
.form-banner-form-wr {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.form-banner-form-wr form {
    padding-top: 20px;
    width: 90%;
}
.form-banner-form-wr .form-group {
    padding-top: 15px;
    width: 80%;
    margin: auto;
}
.form-banner-form-wr .form-control {
    margin: auto;
    border-radius: 0;
}
.form-banner-form-wr label {
    font-size: 1.4em;
    padding-left: 0;
    color: white;
}
.form-group-button button {
    width: 100%;
    margin-top: 10px;
}

.form-group-button {
    width: 76%;
    margin: auto;
}

/* ADVANTAGES-BLOCK */
.advantages  {
    padding-top: 70px;
    flex-direction: column;
}
.advantages-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.advantages-part1, .advantages-part2 {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.advantages-part2 {
    padding-left: 0;
}
.adv-item-wr {
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
}
.adv-item-text-wr {
    text-align: center;
    padding-left: 0;
    font-size: 1.5em;
    color: #5F5E5E;
    display: flex;
    justify-content: center;
    align-items: center;
}
.adv-item-divider-wr {
    padding-left: 67px;
    margin-bottom: 5px;
    display: none;
}
.adv-item-divider {
    height: 20px;
    width: 5px;
    background-color: #4e84ab8a;
}
.adv-item-image-wr {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HOWTO-BANNER-BLOCK */

.howto-banner-container {
    margin-top: 60px;
}
.howto-banner-container img {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* SHORT-PRICE-BLOCK */
.shortprice {
    margin-top: 40px;
    flex-direction: column;
}
.short-price-wr {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    overflow: auto;
}
.short-price-wr .short-price-row:nth-child(2n) {
    background-color: #8aacc594;
}
.short-price-row {
    color: #626F7A;
    font-size: 1.2em;
    display: flex;
    width: 100%;
}
.short-price-title-wr {
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 3px #5886a785 solid;
    flex: 1;
}
.short-price-nal-wr {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    flex: 1;
}
.short-price-button-wr {
    margin-top: 40px;
}

.short-price-button {
    cursor: pointer;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    margin: auto;
    background-color: #81A4B4;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* DIRECTIONS-BLOCK */
.directions {
    margin-top: 70px;
    flex-direction: column;
}
.directions-wr {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}
.directions-item-wr {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.directions-item-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.directions-item-image img {
    width: 150px;
}
.directions-item-divider {
    margin-top: 30px;
    margin-bottom: 30px;
    flex: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.directions-item-text {
    flex: 5;
}
.directions-item-text {
    display: flex;
    flex-direction: column;
}
.dir-item-text-title {
    text-align: center;
    flex: 1;
}
.dir-item-text-title a {
    color: #678595;
    font-size: 2.2em;
}
.dir-item-text-content {
    text-align: center;
    padding-top: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    flex: 3;
    color: #0e2737;
    font-size: 2em;
    text-shadow: 2px 4px 0 rgba(0, 0, 0, 0.15);
}

/* MAP-BLOCK */
.mapblock-wr {
    margin-top: 40px;
    border-top: 5px #558dd26e solid;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: -15px;
}
.mapblock-wr img {
    width: 100%;
    height: auto;
}
.mapblock-button-wr {
    position: relative;
}

.mapblock-button {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    background-color: #81A4B4;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 1.1em;
    color: white;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15),0 6px 20px 0 rgba(0,0,0,0.15);
}

/* FOOTER */
.footer {
    flex-direction: column;
}
footer {
    width: 100%;
    background-color: #878787;
}
.footer-content-container {
    padding-top: 50px;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
}
.footer-contacts-wr {
    margin-bottom: 25px;
    width: 100%;
}
.footer-shedule-wr {
    margin-bottom: 25px;
    width: 100%;
}
.footer-info-wr {
    margin-bottom: 25px;
    width: 100%;
}
.footer-logo-wr {
    margin-bottom: 25px;
    width: 100%;
}
.footer-button {
    width: 100%;
    margin: 0;
}
.footer-contacts-title, .footer-shedule-title, .footer-info-title{
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
    color: #9ebaca;
}
.footer-contacts-text, .footer-shedule-text {
    color: #454444;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.6em;
}
.footer-contacts-text a {
    color: #454444;
}
.footer-contacts-text a:hover {
    color: #b8bac7;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-info-item {
    text-align: center;
}
.footer-info-item a {
    color: #454444;
    font-size: 1.4em;
    line-height: 1.6em;
}
.footer-info-item a:hover {
    color: #b8bac7;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-logo-img {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-button {
    cursor: pointer;
    color: white;
    width: 100%;
    margin: auto;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #81A4B4;
    font-size: 1.2em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15),0 6px 20px 0 rgba(0,0,0,0.15);
}
.footer-bottom {
    color: #454444;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 2px #4544449e solid;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

/* PRICELIST PAGE */

.pricelist {
    flex-direction: column;
    margin-top: 70px;
}
.pricelist-banner-item img{
    height: auto;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15),0 6px 20px 0 rgba(0,0,0,0.15);
}
.pricelist-banner-container {
    width: 100%;
    margin-top: 50px;
}
.pricelist-tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.pricelist-tabs-ul {
    margin-top: 40px;
    margin-bottom: 40px;
    list-style-type: none;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.pricelist-tabs-ul li {
    margin-bottom: 25px;
    text-align: center;
    color: #495057;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}
#first-tab-li {
    justify-content: center;
}
#last-tab-li {
    justify-content: center;
}
.js-tabs__content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.pricelist-tabs-ul li a{
    color: #495057;
    font-size: 1.5em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.pricelist-tabs-ul li a:hover {
    color: #4E84AB;
}
[aria-selected="true"]{
    transition: all 0.6s;
    border-bottom: 3px #4950578c solid;
}
[aria-selected="true"]:hover {
    border-bottom: 3px #4E84AB8c solid;
}
.pricelist-price {
    display: flex;
    flex-direction: row;
}

.pricelist-price-wr {
    font-size: 1.2em;
    color: #3c3b3b;
    margin-top: 0;
    margin-bottom: 40px;
}
.pricelist-price-wr a{
    color: #4E84AB;
}
.price-download-wr {
    display: flex;
    align-items: flex-end;
}

.price-download-icon {
    padding-left: 5px;
    height: 20px;
}
.pricelist-table {
    margin-bottom: 50px;
    width: 100%;
}
.table-position-width {
    width: 33%;
}
.table-nal-width {
    width: 33%;
}
.table-beznal-width {
    width: 33%;
}
[hidden] {
  display: none;
}

.pricelist-table th{
    background-color: #b3bbc5;
    font-size: 1.2em;
    text-align: left;
    font-weight: 700;
}
.pricelist-table td{
    font-size: 1em;
}
.pricelist-table th,td{
    padding: 15px 10px;
}

.pricelist-table-item {
    cursor: pointer;
    border: 2px solid #3c3b3b;
    color: #3c3b3b;
}
.pricelist-table-item a {
    display: flex;
    flex-direction: row;
    color: #3c3b3b;
}
.pricelist-table-item a:hover {
    color: #4E84AB;
}
.pricelist-link-icon {
    padding-left: 5px;
    display: none;
    height: 17px;
}
.tantal-positions-container {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tantal-item-wr {
    position: relative;
    background-color: #3b5998;
    height: 350px;
    width: 27%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15),0 6px 20px 0 rgba(0,0,0,0.15);
}
.tantal-gall-item-wr {
    overflow: hidden;
    position:relative;
    width: 100%;
    height: 100%;
}
.tantal-gall-item-wr a {
    position: absolute;
}
.tantal-gall-item-wr img {
    width: 100%;
    height: auto;
}
.tantal-item-content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 132, 171, 0.57);
    display: flex;
    flex-direction: column;
}
.tantal-item-title {
    font-size: 1.8em;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    flex: 1.5;
}
.tantal-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1.5;
}
.tantal-item-price {
    font-size: 1.5em;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
    display: flex;
    align-items: center;
}
.tantal-gallery-icon {
    height: 70px;
}
.tantal-gallery-icon:hover {
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.65));
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.65));
}


/* ANALYSIS PAGE */

.metall-analysis {
    margin-top: 60px;
    flex-direction: column;
}
.analysis-carousel img {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15),0 6px 20px 0 rgba(0,0,0,0.15);
}

.analysis-container {
    color: #3c3b3b;
    font-size: 1.4em;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}
.analysis-left-wr {
    margin-right: 30px;
    flex: 1;
}
.analysis-right-wr {
    flex: 1;
}
.analysis-right-wr {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.analysis-carousel-wr {
    margin-top: 30px;
    margin-bottom: 20px;
}

/* WIKI PAGE */

.wiki {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}
.wiki-container {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.wiki-item-wr {
    margin-bottom: 40px;
    position: relative;
    width: 85%;
    height: 350px;

}

.wiki-item-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #678595a6
}
.wiki-item-icon-wr {
    cursor: pointer;
}
.wiki-item-icon-wr img:hover {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.65));
}

.wiki-content-back {
    z-index: 11;
    position: absolute;
    width: 100%;
    height: 100%;
}

.wiki-item-title {
    top: 7%;
    left: 7%;

    position: absolute;
}
.wiki-item-title a {
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.5em;
    color: white;
}

.wiki-item-more {
    position: absolute;
    bottom: 7%;
    right: 7%;
}
.wiki-item-more a {
    cursor: pointer;
    color: white;
}

/* WIKI SUMMATERIALS PAGE */
.wiki-summaterials {
    display: flex;
    flex-direction: column;
}

.wiki-sum-header {
    margin-top: 60px;
}

.wiki-sum-header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
}
.sum-header-image-wr {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15),0 6px 20px 0 rgba(0,0,0,0.15);
    height: 300px;
    width: 100%;
}
.sum-header-image-fill {
    width: 100%;
    height: 100%;
    background-color: #00000040;
}
.sum-header-text-wr {
    padding-left: 0;
    padding-right: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}
.sum-header-title {
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 2.5em;
    color: #628BA3;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    flex: 1;
}

.wiki-sum-container {
    margin-top: 60px;
    margin-bottom: 60px;
}
.wiki-sum-news-sidebar-wr {
    width: 100%;
    margin-top: 60px;
}
.wiki-sum-sprav-title {
    text-decoration: underline;
    color: #495057;
    font-size: 2em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.wiki-sum-sprav-items-wr {
    margin-top: 60px;
}
.wiki-sum-sprav-item {
    color: #3c3b3b;
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.wiki-sum-sprav-item a {
    cursor: pointer;
    color: #3c3b3b;
    text-transform: uppercase;
}
.wiki-sum-sprav-item span {
    cursor: pointer;
}
.youtube-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.youtube-modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 80%;
}
.youtube-close {
    cursor: pointer;
    font-size: 2.5em;
    display: flex;
    justify-content: flex-end;
}

/* WIKI ITEM MATERIAL PAGE */
.wiki-item-material-wr {
    margin-top: 60px;
    padding-right: 40px;
}
.wiki-material-sidebar-wr {
    margin-top: 60px;
}
.wiki-material-video-wr {
    margin-top: 60px;
}
.youtube-origin {
    padding-top: 40px;
}

.youtube-origin a {
    color: #3c3b3b;
    cursor: pointer;
}
.wiki-material-text {
    font-size: 1.5em;
    color: #5F5E5E;
}

/* NEWS SIDEBAR PAGE */

.news-sidebar-wr {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}
.news-sidebar-item {
    margin-bottom: 60px;
    display: flex;
    align-items: flex-end;
    position: relative;
    height: 250px;
    width: 60%;
}
.news-sidebar-item-title {
    width: 100%;
    background-color: #808080d1;
    padding: 10px;
    color: white;
}
.news-sidebar-item-title a {
    color: white;
    font-size: 1.2em;
}

.news-sidebar-item a{
    z-index: 100;
}
.news-sidebar-item-filter {
    background-color: #80808054;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
}
.sidebar-first-new {
    margin-bottom: 40px;
}
.sidebar-second-new {
    margin-bottom: 40px;
}
.news-sidebar-title {
    text-decoration: underline;
    margin-bottom: 25px;
}
.news-sidebar-title a {
    color: black;
}

/* MATERIALS BLOCK */
.articles-block {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.materials-container {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.materials-config-wr {
    display: flex;
    flex-direction: column;
}

.config-icons-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 30px;
}
.mat-icon-first {
    justify-content: flex-start;
}
.mat-icon-last {
    justify-content: flex-end;
}
.mat-icon-middle {
    justify-content: center;
}
.config-search-container {
    flex: 1;
}
.config-icon-wr {
    display: flex;
    align-items: center;
    flex: 1;
}
.config-icon-wr img{
   cursor: pointer;
}
.materials-page-change-wr {
    font-size: 1.5em;
    margin-top: 60px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    color: #626262;
}
.materials-page-select-wr {
    margin-left: 25px;
}
.materials-page-select-wr select{
    font-size: 0.8em;
}

.search-input input {
    width: 100%;
    margin-left: 15px;
    border: none;
    font-size: 1.5em;
    font-weight: bold;
}
.search-input input:focus {
    border: none;
    outline: none;
}
.search-input {
    padding: 6px;
    border: 2px #678595 solid;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
}
.config-search-icon-wr img {
    margin-left: 6px;
    width: 30px;
}
.fullview-area-wr {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.fullview-item-wr {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    width: 100%;
}
.fullview-image-wr {
    height: 300px;
}
.materials-pagination-wr {
    margin-top: 60px;
    margin-bottom: 40px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.materials-pagination {
    width: auto;
    display: flex;
    flex-direction: row;
}
.materials-pagination-item {
    cursor: pointer;
    font-size: 1.5em;
    padding: 7px;
    color: #6b6b6b;
}
.mat-pagination-item-active {
    color: #1b6d85;
}
.fullview-image-filter {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}
.fullview-image-date-wr {
    display: none;
}
.fullview-content-title {
    line-height: 1.5em;
    padding-top: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 1.2em;
}
.fullview-content-title a {
    color: #3e3737;
}

.fullview-content-body {
    padding-bottom: 15px;
    flex: 1;
    font-size: 1.1em;
    line-height: 1.5em;
    color: #88898c;
}
.fullview-content-body a,span {
    color: #3d4044;
}

.fullview-readmore-wr {
    min-height: 40px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.85em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 15px;
}
.fullview-readmore-wr a {
    border-top: #7698b18a 2px solid;
    color: #7698b1;
}

.thumbview-area-wr {
    display: flex;
    flex-direction: column;
}
.thumbview-item-wr {
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;

}
.thumbview-image-wr {
    height: 130px;
    flex: 4
}

.thumbview-title-wr {
    display: flex;
    flex: 8;
    flex-direction: column;
    text-transform: uppercase;
    align-items: flex-start;
    font-size: 1.2em;
    padding-left: 40px;
}
.thumbview-title {
    display: flex;
    align-items: flex-start;
    flex: 1;
}
.thumbview-pubdate {
    display: flex;
    align-items: flex-end;
    flex: 1;
    font-size: 0.7em;
    color: grey;
}
.thumbview-title-wr a {
    color: #1d1f21;
}
.titleview-item-list-icon {
    height: 18px;
    padding-right: 10px;
}
.titleview-area-wr {
    display: flex;
    flex-direction: column;
}
.titleview-item-wr {
    margin-bottom: 60px;
    font-size: 1.5em;
    text-transform: uppercase;
}
.titleview-item-wr a {
     color: #1d1f21;
}

/* MATERIALS-ITEM-PAGE */

.materials-item {
    margin-top: 60px;
    flex-direction: column;
}
.materials-item-header {
    display: flex;
    flex-direction: column;
}
.mat-item-image-wr {
    height: 300px;
}
.mat-item-title-wr {
    margin-top: 40px;
    text-align: center;
    padding-left: 0;
    text-transform: uppercase;
    font-size: 2em;
    color: #4a4949;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.mat-item-body-wr {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 1.3em;
    line-height: 1.5em;
    color: #5F5E5E;
}
.mat-item-body-wr table{
    overflow: auto;
}
.mat-item-body-wr a{
    color: #678595;
}

/* CALCULATOR */

.calculator {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}
#calculator {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.calculator-container {
    border: 2px solid rgba(101, 150, 198, 0.7);
    border-radius: 6px;
    height: auto;
    width: 100%;
    overflow: hidden;
    margin-bottom: 60px;
}
.calculator-header {
    padding-left: 20px;
    background-color: #56719a;
    text-transform: uppercase;
    color: white;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    border-bottom: 2px solid rgba(101, 150, 198, 0.7);
}
.calc-title {
    margin-top: 20px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600;
    color: #888181;
}
.draw-title {
    padding-left: 20px;
}
.profile-draw-image-wr {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-draw-image-wr img {
    width: 100%;
    height: auto;
}

.profiles-icons-container {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.profile-image-wr {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.profile-image-wr img {
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.35));
}

.workbox-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.workbox-container select {
    font-size: 1.3em;
}
.workbox-input {
    font-size: 1.3em;
}
.mark-select-wr {
    margin-bottom: 60px;
}
.workbox-inputs-wt {
    margin-bottom: 60px;
}
.material-title {
    margin-top: 40px;
    margin-bottom: 40px;
}
.workbox-input-title {
    margin-bottom: 40px;
}
.profile-icon-active img{
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.65));
}
.workbox-input-wr {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}
.workbox-container .form-control {
    box-shadow: none;
}
.calc-button {
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    background-color: #6c757d;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.4em;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.calc-button:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.workbox-result-title {
    text-transform: uppercase;
    font-size: 1.3em;
}
.workbox-result {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 1.3em;
    color: #56719a;
}

/* POSITION PAGE  */
.position-page {
    display: flex;
    flex-direction: column;
}

.position-price-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.position-pr-menu-item {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}
.position-pr-menu-item a{
    color: #495057;
    font-size: 1.5em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}
.first-item {
    justify-content: flex-start;
}
.last-item {
    justify-content: flex-end;
}
.position-slider {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.position-slider img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15),0 6px 20px 0 rgba(0,0,0,0.15);
}
.pos-gallery-first-item {
    text-align: center;
    padding-right: 0;
}

.pos-gallery-third-item {
    display: none;
}
.pos-gallery-second-item {
    display: none;
}

.pos-foto-hidden {
    display: none;
}
.position-description {
    color: #3c3b3b;
    font-size: 1.4em;
    line-height: 1.5em;
}
.position-description a {
    color: #678595;
}
.title-to-price-wr {
    margin-top: 40px;
}
.title-to-price-wr a {
    color: #678595;
}
.title-to-analysis {
    margin-top: 20px;
}
.title-to-analysis a {
    color: #678595;
}
.position-title-icon {
    padding-right: 15px;
}
.position-contacts-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.position-contacts-text-wr {
    text-align: center;
    margin-top: 40px;
    padding-left: 0;
    width: 100%;
}
.position-contacts-text-wr h2 {
    text-transform: uppercase;
    color: #626262;
}

.position-contacts-text-wr a {
    color: #678595;
}
.pos-form-title {
    color: #626262;
    text-transform: uppercase;
    margin-bottom: 60px;
}
.pos-det-vk {
    margin-top: 40px;
    text-align: center;
}
.pos-det-vk a {
    text-transform: uppercase;
}
.pos-det-play {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.pos-det-play a {
    text-transform: uppercase;
}
/* CONTACTS-PAGE */
.contacts-page {
    margin-bottom: 40px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}
.contacts-page-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.contacts-text-wr {
    text-align: center;
    padding-right: 20px;
    color: #5F5E5F;
    font-size: 1.3em;
    width: 100%;
}
.contacts-text-wr a {
    color: #678595;
}

.contacts-form-wr {
    width: 100%;
}


